PORT=9467
DB_URL=changethis
JWT_KEY=changethis
EMAIL_SERVER_USER=changethis
EMAIL_SERVER_PASS=changethis
EMAIL_SENDER='"Maroko Gideon" <gmaroko@usiu.ac.ke>'
GMAIL_CLIENT_ID=changethis
GMAIL_CLIENT_SECRET=changethis
GMAIL_ADDRESS=changethis
GMAIL_REFRESH_TOKEN=https://oauth2.googleapis.com/token
MDB_API_KEY=changethis
MDB_API_URL=https://api.themoviedb.org/3