# Server configuration
HOST=http://localhost
PORT=9467
DB_URL=changethis # mongo db url

# Auth configuration
JWT_KEY=changethis

# gmail api
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_ADDRESS=
GMAIL_REFRESH_TOKEN=https://oauth2.googleapis.com/token

# movie APIs
TMDB_API_KEY=changethis
TMDB_API_URL=https://api.themoviedb.org/3
OMDB_API=
OMDB_API_KEY=
OMDB_API_URL=http://www.omdbapi.com/

# emails
EMAIL_SENDER=changethis # email sender details
EMAIL_HOST=changethis # email server
EMAIL_PORT=2525
EMAIL_USER=changethis
EMAIL_PASS=changethis   